<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">×</button>
    <h4 class="modal-title">Upgrade Plan</h4>
</div>
<div class="modal-body">
	<div class="row">
	    <div class="col-sm-4 col-xs-6">
	    	<div class="panel panel-info">
  				<div class="panel-heading text-center">
					<h2>
						<small>Small Business</small><br>
						Free
					</h2>
  				</div>
		    	<ul class="list-group">
					<li class="list-group-item">
						The basic package will allow you to manage an ample amount of facilities. All free of charge. Forever!
					</li>
					<li class="list-group-item">
						Meeting Rooms <span class="badge">4</span>
					</li>
				</ul>
	    	</div>
	    </div>
	    <div class="col-sm-4 col-xs-6">
	    	<div class="panel panel-success">
  				<div class="panel-heading text-center">
					<h2>
						<small>Medium Business</small><br>
						$50<small>/mth</small>
					</h2>
  				</div>
		    	<ul class="list-group">
					<li class="list-group-item">
						You will have 5x additional facilities along with other advance features
					</li>
				</ul>
	    	</div>
	    </div>
	    <div class="col-sm-4 col-xs-6">
	    	<div class="panel panel-success">
  				<div class="panel-heading text-center">
  					<h2>
						<small>Enterprise</small><br>
						$150<small>/mth</small>
					</h2>
	    		</div>
		    	<ul class="list-group">
					<li class="list-group-item">
						All the bells and wistles of the system will be made available to you so you can fully maximise your facilities potential.
					</li>
				</ul>
	    	</div>
	    </div>
    </div>
</div>
<div class="modal-footer">
	<div class="btn-group btn-group-sm">
    	<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
    	<button class="btn btn-success save-new-facility" type="button">Upgrade</button>
    </div>
</div>
