$base: #2A4454;
$highlight: #1ABB9C;
$white: #FFF;
$black: #000;

@import "./bootstrap/variables";

.btn-primary {
	background-color: lighten($base, 15%);
	border-color: darken($base, 5%);

	&:hover {
		background-color: lighten($base, 10%);
		border-color: darken($base, 2%);
	}
}