/****** LOGIN MODAL ******/
.loginmodal-container {
    @include standardBox();
    max-width: 350px;
    width: 100% !important;
    overflow: hidden;
    margin: 0 auto;  

    .login-btn {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    input[type=text]:hover, input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }
    
    h1, h2, h3 {
        text-align: center;
    }
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba($black, 0.1); 
    padding: 17px 0px;
    font-size: 14px;
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba($black, 0.3);
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
} 

.login-help{
    font-size: 12px;
}