@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import "bootstrap";
@import "colors";
@import "breakpoint";
@import "fontawesome/font-awesome";
@import "bootstrap-datepicker.min";
@import "timepicker";
@import "width";

@mixin standardBox() {
	padding: 30px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

@mixin transition_bgcolor() {
	transition: background-color 200ms ease;
}

@mixin transition_opacity() {
	transition: opacity 200ms ease;
}

@import "login-modal";
@import "registration-form";

#logo {
	opacity: .4;
	font-family: 'Slabo 27px', serif;
}

body {
    background-color: $base;
}

#left-col {
    width: 230px;
    float: left;
    background-color: $base;

    @include breakpoint(xs) {
    	border-right: 1px solid darken($base, 5%);
    	width: 50px;
    }
}

#right-col {
    width: calc(100% - 230px);
    float: left;
    background-color: $white;

    @include breakpoint(xs) {
    	width: calc(100% - 50px);
    }
}

#layout {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.profile {
    margin: 20px 0;
}

.profile-sidebar {
    padding: 20px 0 10px 0;

    #profile-main {
    	@include breakpoint(xs) {
	    	display: none;
	    }
    }

    .profile-userpic {
		width: 35%;
		float: left;

    	img {
            float: none;
            margin: 0 auto;
            width: 70%;
            border-radius: 50% !important;
            padding: 4px;
            background: $white;
            border: 1px solid $white;
            margin-left: 20px;
            margin-top: 20px;
        }
    }
}

.profile-userpic-title {
	@include clearfix();
}

.profile-usertitle {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
}

.standard-box {
	@include standardBox();
}

.profile-usertitle-name {
    font-size: 13px;
    line-height: 30px;
    color: darken($white, 10%);
}

.profile-usertitle-job {
    font-size: 14px;
    color: $white;
    margin: 0;
    font-weight: 300;
}

.profile-userbuttons {
	margin-left: 20px;
    margin-top: 10px;
}

small.debug {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	color: #c7254e;
	font-size: 65%;
}

#profile-menu {
	@include breakpoint(sm) {
    	margin-top: 30px;
    }

	> ul > li {
	    border-bottom: 1px solid darken($base, 5%);

	    > a {
		    color: $white;
		    font-size: 14px;
		    font-weight: 400;
		    margin-bottom: 6px;
		    @include transition_bgcolor();

		    i {
			    margin-right: 8px;
			    font-size: 14px;
		    }

		    &:focus,
		    &:hover {
			    background-color: $base;
			    color: $white;
		    }

		    span.item-text {
		    	@include breakpoint(xs) {
			    	display: none;
			    }
		    }

		    span.fa {
		    	float: right;
	    	    text-align: right!important;
    			margin-right: 4px;
    			margin-top: 5px;
    			font-size: 10px;
    			color: rgba($white, .7);

    			@include breakpoint(xs) {
					display: none;
				}
		    }
	    }

	    &.active {
	    	border-bottom: none;
	    	border-right: 5px solid $highlight;

	    	> a {
			    color: $white;
			    background-color: rgba($white, .1);
			    border-left: 2px solid $white;
			    margin-left: -2px;
			    text-shadow: rgba($black,.25) 0 -1px 0;
		        background: linear-gradient(lighten($base, 5%), $base),lighten($base,10%);
		        box-shadow: rgba($black,.25) 0 1px 0, inset rgba($white,.16) 0 1px 0;
	    	}
	    }

	    &:last-child {
	    	border-bottom: none;
	    }
	}

	.child-menu {
		@include clearfix();

		display: none;
	    padding-left: 0;
    	margin-bottom: 0;
    	list-style: none;

		&.active {
			display: block;
			box-shadow: rgba($black,.25) 0 1px 0, inset rgba($white,.16) 0 1px 0;

			@include breakpoint(xs) {
				background-color: $base;
				position: absolute;
				z-index: 1;
				left: 50px;
				top: 0px;
				width: 200px;
			}
		}

		> li {
			display: block;
			position: relative;
			padding-left: 36px;
			@include transition_bgcolor();

			&:hover {
				background: rgba($white, .05);
			}

			&:before {
				background: lighten($base, 15%);
				bottom: auto;
				content: "";
				height: 8px;
				left: 23px;
				margin-top: 15px;
				position: absolute;
				right: auto;
				width: 8px;
				z-index: 1;
				border-radius: 50%;
			}

			&:after {
				border-left: 1px solid lighten($base, 15%);
				bottom: 0;
				content: "";
				left: 27px;
				position: absolute;
				top: 0;
			}

			&.active {
				background-color: lighten($base, 5%);
			}

			> a {
				position: relative;
				display: block;
				padding: 9px;
				color: rgba($white, .8);
				font-size: .85em;
				@include transition_bgcolor();

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.profile-content {
    padding: 20px;
    background: $white;
    min-height: 460px;
}

.first-start {
	margin-top: 15px;
}

.panel-default {
	.badge {
		&.badge-success {
			background-color: $brand-success;
		}
		&.badge-danger {
			background-color: $brand-danger;
		}
		&.badge-warning {
			background-color: $brand-warning;
		}
		&.badge-info {
			background-color: $brand-info;
		}
		&.badge-primary {
			background-color: $brand-primary;
		}

		+ .badge {
			margin-right: 5px;
		}

		&[disabled] {
			opacity: 0.65;
			cursor: not-allowed;
			box-shadow: none;
		}
		
		.string {
			@include breakpoint(xs) {
		    	display: none;
		    }
		}
	}

	.panel-heading {
	
		&:hover {
			> a.badge {
				&:not([disabled]) {
					opacity: 1;
				}

				.string {
					display: inline-block;
				}
			}
		}

		> a.badge {
			opacity: 0.5;
			@include transition_opacity();

			.string {
				display: none;
			}
		}

		> .badge {
			float: right;
		}
	}
}

.jumbotron .btn {
	border-radius: 1.2em;
}

#vehicles,
#facilities {
	.panel-heading {
	    color: darken($base, 10%);
	    background-color: darken($white, 5%);
	    border-color: darken($white, 10%);
	}
}

#bookings {
	height: 700px;
}

@import "fullcalendar.min.scss";