<div class="container">
    <div class="col-md-6 col-md-offset-3 standard-box registration-form">
        <div class="form-horizontal">
            <fieldset>
                <h2 id="logo">FaciMgmt <small>/βeta</small></h2>
                <h3>Register for an account</h3><br>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="emailInput">Email</label>  
                    <div class="col-md-8">
                        <input id="emailInput" name="emailInput" type="text" placeholder="john.doe@gmail.com" class="form-control">
                        <span class="help-block">Enter your valid email address</span>  
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="passwordInput">Password</label>
                    <div class="col-md-8">
                        <input id="passwordInput" name="passwordInput" type="password" placeholder="Password" class="form-control">
                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="cfmPasswordInput">Confirm Password</label>
                    <div class="col-md-8">
                        <input id="cfmPasswordInput" name="cfmPasswordInput" type="password" placeholder="Password" class="form-control">
                    </div>
                </div>

            </fieldset>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <button class="btn btn-success btn-register" data-loading-text="<i class='fa fa-refresh fa-spin fa-fw'></i>">Register</button>
                </div>
            </div>
            <div class="register-help">
                Already have an account? <a href="#/login">Login here</a> - <a href="#/forgot-password">Forgot Password</a>
            </div>
        </div>
    </div>
</div>