<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">×</button>
    <h4 class="modal-title">New Bookings</h4>
</div>
<div class="modal-body">
	<button class="btn btn-rules btn-link">Rules <i class="fa fa-code" aria-hidden="true"></i></button>
	<div class="rules well well-sm" style="display: none;">
		<table class="table">
			<tr>
				<td class="width25pc"><strong>Rates:</strong></td>
				<td>${{ratePerHr}} per hour</td>
				<td class="width25pc"><strong>Open:</strong></td>
				<td><span class="firstHr">8:00 AM</span></td>
			</tr>
			<tr>
				<td></td>
				<td>${{ratePerDay}} per day</td>
				<td><strong>Close:</strong></td>
				<td><span class="lastHr">20:00 PM</span></td>
			</tr>
			<tr>
				<td></td>
				<td>${{ratePerMth}} per month</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="width25pc"><strong>Max Per Day:</strong></td>
				<td><span class="maxPerDay">12 hr</span></td>
				<td><strong>Blocks of:</strong></td>
				<td><span class="blocksOf">15 min</span></td>
			</tr>
			<tr>
				<td class="width25pc"><strong>Min Booking Duration:</strong></td>
				<td><span class="minBookingDur">30 min (0.5 hrs)</span></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
    <form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 col-xs-12 control-label" for="example-text-input-horizontal">Name</label>
			<div class="col-sm-10 col-xs-12">
				<input class="form-control event-name" type="text" placeholder="Name of event" value="{{eventName}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 col-xs-12 control-label" for="prependedtext">Bookings</label>
			<div class="col-sm-10 col-xs-12">
				<div class="input-group">
					<input class="form-control start-time" type="text">
					<span class="input-group-addon">Start Time</span>
					<input class="form-control start-date" type="text" value="{{startDate}}">
					<span class="input-group-addon">Start Date</span>
				</div>
				<p class="help-block">Only blocks of 15mins allowed.</p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10 col-xs-12">
				<div class="input-group">
					<input class="form-control end-time" type="text">
					<span class="input-group-addon">End Time</span>
					<input class="form-control end-date" type="text" value="{{endDate}}">
					<span class="input-group-addon">End Date</span>
				</div>
				<p class="help-block">Only blocks of 15mins allowed.</p>
			</div>
		</div>

		{{!-- <div class="form-group">
			<label class="col-sm-2 col-xs-12 control-label" for="prependedtext">Rates</label>
			<div class="col-sm-5 col-xs-12">
				<div class="input-group">
					<input class="form-control rates" disabled="disabled" type="text" value="${{ratePerHr}}">
					<span class="input-group-addon">per hour</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-5 col-sm-offset-2 col-xs-12">
				<div class="input-group">
					<input class="form-control rates" disabled="disabled" type="text" value="${{ratePerDay}}">
					<span class="input-group-addon">per day</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-5 col-sm-offset-2 col-xs-12">
				<div class="input-group">
					<input class="form-control rates" disabled="disabled" type="text" value="${{ratePerMth}}">
					<span class="input-group-addon">per month</span>
				</div>
			</div>
		</div> --}}

		<div class="form-group">
			<label class="col-sm-2 col-xs-12 control-label" for="prependedtext">Duration</label>
			<div class="col-sm-5 col-xs-12">
				<div class="input-group">
					<input class="form-control duration" disabled="disabled" type="text" value="{{duration}}">
					<span class="input-group-addon">Hour(s)</span>
				</div>
			</div>
		</div>

		<hr>

		<div class="form-group">
			<label class="col-sm-2 col-xs-12 control-label" for="prependedtext">Cost</label>
			<div class="col-sm-5 col-xs-12">
				<div class="input-group">
					<span class="input-group-addon">Total</span>
					<input class="form-control cost" disabled="disabled" type="text" value="${{totalCost}}">
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="btn-group btn-group-sm">
    	<button class="btn btn-default close-view" data-dismiss="modal" type="button">Close</button>
    	<button class="btn btn-success save-new-facility" type="button" disabled="disabled">Save</button>
    </div>
</div>
