<div class="jumbotron first-start">
	<h1>Welcome</h1>
	<p class="welcomeNote" style="display: none;">{{welcomeNote}}</p>
	<p>
		<button class="btn btn-danger create-btn" faci-type="{{key}}" style="display: none;">Create {{facility}} <i class="fa fa-plus" aria-hidden="true"></i></button>
		<a class="btn btn-danger manage-btn" style="display: none;" href="#/manage">Manage {{facility}} <i class="fa fa-cog" aria-hidden="true"></i></a>
	</p>
</div>