<h2>Tenants</h2>

<div id="tenants" class="panel panel-default">
	<div class="panel-heading">
		<a href="#collapse-6" data-toggle="collapse" data-parent="#tenants" class="accordion-toggle" aria-expanded="false">Tenants</a>
		<span class="badge">0 / 25</span>
		<a class="badge badge-success">
			<span class="string">New</span> <i class="fa fa-plus" aria-hidden="true"></i>
		</a>
	</div>
	<div id="collapse-6" class="panel-collapse collapse">
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					You do not have any tenants. Click <a href="" class="btn btn-xs btn-danger">here</a> to create your first tenant.
				</li>
			</ul>
		</div>
	</div>
</div>