{{#if child}}
	<a href="#/view-list/{{type}}/{{key}}">
{{else}}
	{{#if url}}
		<a href="#/{{url}}">
	{{else}}
		<a>
	{{/if}}
{{/if}}
	<i class="fa {{fa}}" aria-hidden="true"></i>
	<span class="item-text">{{item}}</span>
	<span class="fa fa-chevron-down"></span>
</a>
{{#if childMenu}}
<ul></ul>
{{/if}}