<div class="profile-userpic-title">
	<div class="profile-userpic">
		<img src="https://colorlib.com/polygon/gentelella/images/img.jpg" alt="..." class="img-circle profile_img">
	</div>
	<div class="profile-usertitle">
		<div class="profile-usertitle-name">
			Marcus Doe
		</div>
		<div class="profile-usertitle-job">
			Developer
		</div>
	</div>
</div>
<div class="profile-userbuttons">
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-default sign-out-btn">Sign Out</button>
		<button type="button" class="btn btn-primary">Message</button>
	</div>
</div>	