<div class="modal fade" id="login-modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="loginmodal-container">
			<h2 id="logo">FaciMgmt <small>/βeta</small></h2>
			<h3>Login to Your Account</h3><br>
			
			<input class="form-control user-email" type="text" name="email" placeholder="Email">
			<input class="form-control user-pwd" type="password" name="pass" placeholder="Password">
			<button class="btn btn-success login-btn" data-loading-text="<i class='fa fa-refresh fa-spin fa-fw'></i>">Login</button>

			<div class="login-help">
				<a href="#/register">Register</a> - <a href="#/forgot-password">Forgot Password</a>
			</div>
		</div>
	</div>
</div>