<div class="row">
	<div class="col-md-12">
		<h2>Facility: {{name}}</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-condensed">
			<tr>
				<td class="width25pc"><strong>Rates:</strong></td> <td>${{costPerHr}} per hour</td>
			</tr>
			<tr>
				<td></td> <td>${{costPerDay}} per day</td>
			</tr>
			<tr>
				<td></td> <td>${{costPerMth}} per month</td>
			</tr>
		</table>
		<table class="table table-condensed">
			<tr>
				<td class="width25pc"><strong>Stats:</strong></td> <td>$<span class="monthlyIncome">0</span> per month</td>
			</tr>
			<tr>
				<td></td> <td>$<span class="yearlyIncome">0</span> per year</td>
			</tr>
			<tr>
				<td></td> <td>$<span class="totalIncome">0</span> in total</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6 text-right">
		<div class="btn-group btn-group-sm">
			<a href="#" class="btn btn-default delete-btn">Delete <i class="fa fa-trash" aria-hidden="true"></i></a>
			<a href="#" class="btn btn-default lock-btn">Lock <i class="fa fa-lock" aria-hidden="true"></i></a>
			<a href="#" class="btn btn-success rules-btn">Rules <i class="fa fa-code" aria-hidden="true"></i></a>
			<a href="#" class="btn btn-danger edit-btn">Edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<h4>Current Bookings</h4>
		<div id="bookings" class="calendar">
			<div class="text-center">
				<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
</div>
<div id="newBookings" class="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		</div>
	</div>
</div>