<h2>Facilities List</h2>

<div id="facilities" class="panel panel-default">
	{{!-- 
	<div class="panel-heading">
		<a href="#collapse-1" data-toggle="collapse" data-parent="#facilities" class="accordion-toggle" aria-expanded="true">Meeting Rooms</a>
		<span class="badge">3 / 4</span>
		<a class="badge badge-success">
			<span class="string">New</span> <i class="fa fa-plus" aria-hidden="true"></i>
		</a>
	</div>
	<div id="collapse-1" class="panel-collapse collapse">
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					Meeting Room 1
				</li>
				<li class="list-group-item">
					Meeting Room 2
					<span class="badge badge-warning">Occupied</span>
				</li>
				<li class="list-group-item">
					Conference Room Level 2
				</li>
			</ul>
		</div>
	</div>
	<div class="panel-heading">
		<a href="#collapse-2" data-toggle="collapse" data-parent="#facilities" class="accordion-toggle collapsed" aria-expanded="false">Multi-purpose Rooms</a>
		<span class="badge badge-danger">4 / 4</span>
		<a class="badge badge-danger">
			<span class="string">Buy</span> <i class="fa fa-usd" aria-hidden="true"></i>
		</a>
		<a disabled="disabled" class="badge badge-success">
			<span class="string">New</span> <i class="fa fa-plus" aria-hidden="true"></i>
		</a>
	</div>
	<div id="collapse-2" class="panel-collapse collapse in">
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					Multi Purpose Room 1
				</li>
				<li class="list-group-item">
					Multi Purpose Room 2
					<span class="badge badge-warning">Occupied</span>
				</li>
				<li class="list-group-item">
					Multi Purpose Room 3
				</li>
				<li class="list-group-item">
					Multi Purpose Room 4
				</li>
			</ul>
		</div>
	</div>
	<div class="panel-heading">
		<a href="#collapse-3" data-toggle="collapse" data-parent="#facilities" class="accordion-toggle collapsed" aria-expanded="false">Study Rooms</a>
		<span class="badge">0 / 4</span>
		<a class="badge badge-success">
			<span class="string">New</span> <i class="fa fa-plus" aria-hidden="true"></i>
		</a>
	</div>
	<div id="collapse-3" class="panel-collapse collapse in">
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					You do not have any study rooms now. Click <a href="" class="btn btn-xs btn-danger">here</a> to create your first study room.
				</li>
			</ul>
		</div>
	</div>
	<div class="panel-heading">
		<a href="#collapse-4" data-toggle="collapse" data-parent="#facilities" class="accordion-toggle collapsed" aria-expanded="false">BBQ Pits</a>
		<span class="badge">0 / 4</span>
		<a class="badge badge-success">
			<span class="string">New</span> <i class="fa fa-plus" aria-hidden="true"></i>
		</a>
	</div>
	<div id="collapse-4" class="panel-collapse collapse in">
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					You do not have any BBQ pits. Click <a href="" class="btn btn-xs btn-danger">here</a> to create your first BBQ pit.
				</li>
			</ul>
		</div>
	</div>
	<div class="panel-heading">
		<a href="#collapse-5" data-toggle="collapse" data-parent="#facilities" class="accordion-toggle collapsed" aria-expanded="false">Tennis Courts</a>
		<span class="badge">0 / 2</span>
		<a class="badge badge-success">
			<span class="string">New</span> <i class="fa fa-plus" aria-hidden="true"></i>
		</a>
	</div>
	<div id="collapse-5" class="panel-collapse collapse in">
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					You do not have any tennis courts. Click <a href="" class="btn btn-xs btn-danger">here</a> to create your first tennis court.
				</li>
			</ul>
		</div>
	</div> 
	--}}
</div>

<h2>Vehicles List</h2>

<div id="vehicles" class="panel panel-default">
	
</div>

<!-- New Facility Modal -->
<div id="newFacility" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>