<div class="panel-heading">
	<a href="#{{url}}-panel" data-toggle="collapse" data-parent="#facilities" class="accordion-toggle" aria-expanded="false">{{value}}</a> <small class="debug">{{id}}</small>
	<span class="badge">{{count}} / {{max}}</span>
	<a class="badge badge-danger buy-more hidden" data-toggle="modal" data-target="#newFacility">
		<span class="string">Buy</span> <i class="fa fa-usd" aria-hidden="true"></i>
	</a>
	<a class="badge badge-success create-new" data-toggle="modal" data-target="#newFacility">
		<span class="string">New</span> <i class="fa fa-plus" aria-hidden="true"></i>
	</a>
	<a class="badge view-details" href="#/view-list/{{type}}/{{url}}">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</a>
</div>
<div id="{{url}}-panel" class="panel-collapse collapse in">
	<div class="panel-body">
	</div>
</div>