<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">×</button>
    {{#if facility}}
    <h4 class="modal-title">New {{facility}}</h4>
    {{else}}
    <h4 class="modal-title">New {{value}}</h4>
    {{/if}}
</div>
<div class="modal-body">
    <form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 col-xs-12 control-label" for="example-text-input-horizontal">Name</label>
			<div class="col-sm-9 col-xs-12">
				<input class="form-control facility-name" type="text" placeholder="Study Room on Lv 2" value="{{faciName}}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 col-xs-12 control-label" for="example-text-input-horizontal-sm">Cost</label>
			<label class="col-sm-3 col-xs-6 control-label">Per Hour</label>
			<div class="col-sm-6 col-xs-6">
				<input class="form-control facility-cost-hr" type="text" placeholder="$75.00" value="{{faciCostPerHr}}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 col-sm-offset-3 col-xs-6 control-label">Per Day</label>
			<div class="col-sm-6 col-xs-6">
				<input class="form-control facility-cost-day" type="text" placeholder="$250.00" value="{{faciCostPerDay}}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 col-sm-offset-3 col-xs-6 control-label">Per Month</label>
			<div class="col-sm-6 col-xs-6">
				<input class="form-control facility-cost-mth" type="text" placeholder="$4,500.00" value="{{faciCostPerMth}}">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="btn-group btn-group-sm">
    	<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
    	<button class="btn btn-success save-new-facility" type="button" disabled="disabled">Save</button>
    </div>
</div>
